body {
  font-family: "Roboto", sans-serif;
}

.weather-app {
  max-width: 900px;
  margin: 0 auto;
  border: solid 3px;
  border-radius: 10px;
  border-color: #ebecee;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 10px;
}

h1 {
  font-size: 27px;
  color: #016ec6;
  font-weight: bold;
  padding-top: 10px;
}

h2 {
  font-size: 18px;
  color: #5a6276;
  font-weight: 800;
}

.lastUpdated {
  font-size: 18px;
  color: #5a6276;
  font-weight: 800;
}

h3 {
  font-size: 20px;
  color: #5a6276;
  font-weight: 800;
}

.current-button {
  font-size: 10px;
}

.sunrise {
  font-size: 17px;
}

.sunset {
  font-size: 17px;
}

.weatherDetails {
  font-size: 18px;
}

.weatherDetails #current-temperature {
  font-weight: 900px;
  font-size: 25px;
  padding-left: 20px;
}
.weatherDetails #weather-report {
  font-weight: bold;
  text-transform: capitalize;
  padding-left: 20px;
}

.units {
  position: relative;
  top: -10px;
  font-weight: bold;
}

ul {
  margin-left: -35px;
}
li {
  list-style: none;
  display: block;
}

.weekdays {
  font-size: 20px;
  text-align: center;
}
.weekdaysEmojis {
  font-size: 20px;
  text-align: center;
  color: #016ec6;
}

.link {
  text-align: center;
  display: block;
}

.left {
  color: #016ec6;
}

.units .active {
  color: #000000;
  cursor: default;
}

.units .active:hover {
  text-decoration: none;
}

.forecast {
  display: block;
  text-align: left;
}
